


<div class="row" style="margin-top:50px; margin-bottom:100px;">
<!-- Navigation -->
<nav id="slide-menu">


	<div class="menu-trigger2 close-nav"><i class="fa fa-close fa-1x" style="padding-top:22px; float:right;"></i></div>

<br>
	
<%= footer_menu.to_html %>

</nav>



		<div class="small-8 large-8 columns" style="border-right:solid 1px rgb(230,230,230);">
			<%=raw @page.content_for(:body) %>

		</div>

		<div class="small-4 large-4 columns">
			<!-- Implement categories etc -->
	

				<div class="row" style="border-bottom:solid 1px rgb(230,230,230);">
						<%=raw @page.content_for(:side_body) %>
				</div>

		</div>


</div>

