



<% root_category = product.categories.select{ |c| c.root? } %>

                <div class="small-12 large-6 text-center columns">
                      
                             <div class="image">
                            <%= link_to refinery.products_product_path(product, referer: refinery.products_category_path(root_category)) do %>
                              <%= image_fu product.images.first, '242x200#c' %>
                            <% end %>

                            <h3><%= link_to product.title, refinery.products_product_path(product, referer: refinery.products_category_path(root_category)) %></h3>
                            </div>


                            
                        
                  
                  
                </div>
