<div class="row course" style="padding:40px">

<center><img src="<%= @courseitem.image %>"></center>



	<center><h5><%= @courseitem.title %></h5></center>


<hr>

<br>

<p>
  <%=raw @courseitem.description %>
</p>

</div>