

<div class="row course" style="padding:40px;">

<div class="right">
 
</div>
<h1>
  <%= @userblog.title %>
  <small><%= @userblog.subtitle %></small>
</h1>

<hr>

<p>
  <%=raw @userblog.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @userblog.tags %>
</p>


</div>
