// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


nav#slide-menu >* a{
  color:white;
  font-family: "Raleway";
  font-weight:bolder;
}


nav#slide-menu >* li{
 
      padding-top: 6px; 
      border-top: 1px solid lighten(#556270, 10%);
}
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -283px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  background-color:#556270;
  z-index:999;
  overflow:scroll;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;

div.close-nav{
	margin-top:10px;
	margin-right:30px;
}

  > nav#menu ul.nav {
    display: block;
    margin-left:45px;
    padding: 0;
    list-style: none;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;

  ul.nav li {
      color: #dfe5eb;
      padding: 6px 0;
      cursor: pointer;
      color:white;
      &:hover { color: #59e9df; }

    }

  

   nav#menu ul.nav li:before {
      font-family: "ico";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      color: #59e9df;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 0.75em;
      text-transform: none;
      line-height: 1em;
    }

  nav#menu ul.nav li.sep { 
      margin-top: 7px; 
      padding-top: 14px; 
      border-top: 1px solid lighten(#556270, 10%); 
    }

    li.timeline:before { content: '\e805'; }
    li.events:before { content: '\e802'; }
    li.calendar:before { content: '\e800'; }
    li.settings:before { content: '\e803'; }
    li.logout:before { content: '\e804'; }
  }
}

body.menu-active nav#slide-menu { left: 0px; }
body.menu-active nav#slide-menu ul { left: 0px; opacity: 1; }

/*
  Content
*/

div#content {
  position: fixed;
  top: 330;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px;
  overflow: hidden;
  background: #fcfeff;
  border-radius: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;

  div.menu-trigger {
    position: fixed;
    top: 0;
    left: 10px;
    width: 36px;
    height: 36px;
    color:#5fcf80;
    cursor: pointer;
    border-radius: 5px;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;

    

    &:hover { color:#32B358; }
  }
}

body.menu-active div#content { left: 284px; border-radius: 7px 0 0 7px; }
body.menu-active div#content .menu-trigger { left: 294px; }






